RewriteCond %{HTTP_REFERER} !^protocol://site.domain/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^protocol://site.domain$ [NC]
RewriteCond %{HTTP_REFERER} !^protocol://www.site.domain/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^protocol://www.site.domain$ [NC]

RewriteRule .*\.(jpg|jpeg|gif|png|bmp|mp4|m4v)$ - [F,NC]
